$sides-padding: 4rem;
$unactive-button-color: #DBDBDB;

body {
    font-family: 'Magra', sans-serif;
}

nav {
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem $sides-padding;

    h3 {
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    a.link {
        text-decoration: none;
        color: $unactive-button-color;
        margin-inline: 1rem;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

main {
    margin-top: -5.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 $sides-padding;

    // background:
    //     linear-gradient(rgba(0, 0, 0, 0.5),
    //         rgba(0, 0, 0, 0.5)),
    //         url('../img/gdl_1.png');
    // ;
    background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.45) 34.42%, rgba(0, 0, 0, 0.3) 68.83%, rgba(255, 255, 255, 0.3) 103.25%), url("../img/gdl_1.png");
    background-position-y: -5%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .hero-content {
        color: white;

        h1,
        h2 {
            font-weight: 400;
            margin: 1rem 0;
        }

        h2 {
            margin-bottom: 2.5rem;
        }


    }

}