$sides-padding: 4rem;

// Colors
$unactive-button-color: #DBDBDB;
$active-button-color: #fff;
$gold-color: #D1AF62;
$dark-gold-color: #b18f3a;

$hero-content-subtitle-color: #DBDBDB;


// Border Radius
$border-radius: 1rem;
$image-border-radius: 10px;

body {
    font-family: 'Magra', sans-serif;
}

nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem $sides-padding;

    h3 {
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: white;
    }

    a.link {
        text-decoration: none;
        color: $unactive-button-color;
        margin-inline: 1rem;

        &:hover,
        &.active {
            color: $active-button-color;
            text-decoration: underline;
        }

    }
}

.image-container {
    height: calc(100vh + 1rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.45) 34.42%, rgba(0, 0, 0, 0.3) 68.83%, rgba(255, 255, 255, 0.1) 103.25%), url("../img/gdl_1.png");
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-position: top right;

    .hero-content {
        color: white;

        h1,
        h2,
        h3 {
            font-weight: 400;
            margin: 1rem 0;
        }

        .section-title {
            border-bottom: 1px solid $gold-color;
            padding-bottom: 1rem;
            display: inline-block;
            margin-bottom: 0rem;
            font-size: 2.5rem;
        }

        .section-subtitle {
            margin-bottom: 3rem;
            color: $hero-content-subtitle-color;
            font-size: 1.5rem;
        }


        .cta-btn {
            color: white;
            padding: 1rem 2.5rem;
            background-color: $dark-gold-color;
            border-radius: $border-radius;
            text-decoration: none;

        }


    }
}

// Backgrounds
main.first-bg {
    background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.45) 34.42%, rgba(0, 0, 0, 0.3) 68.83%, rgba(255, 255, 255, 0.1) 103.25%), url("../img/gdl_1.png");
    margin-top: -5.6rem;


}

.second-bg {
    background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 34.42%, rgba(0, 0, 0, 0.4) 68.83%, rgba(255, 255, 255, 0.1) 103.25%), url("https://images.unsplash.com/photo-1503423571797-2d2bb372094a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80");
    background-position: top center;
    background-size: cover;

    .hero-content {
        width: 70%;
    }

}

.third-bg {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.83) 0.01%, rgba(0, 0, 0, 0.71) 46.88%, rgba(0, 0, 0, 0) 100%), url("../img/third_bg.png");
    background-position: top center;
    background-size: cover;

    .hero-content {
        width: 70%;
    }
}


.fourth-bg {
    background: #0C0C0C;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    .hero-content {
        p {
            font-size: 1.5rem;
            line-height: 2.3rem;
        }
    }

    .image-section {
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;

        .black-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 28rem;
            height: 100%;
            border-radius: $image-border-radius;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: inherit;
            font-size: 1.5rem;

            h3 {
                padding: 25% 10%;
                border: 1px solid $gold-color;
            }
        }

        img {
            border-radius: $image-border-radius;
            width: 28rem;
            aspect-ratio: 1.5 / 1.25;
        }
    }



}


// Media Queries
@media only screen and (max-width: 760px) {
    $sides-padding: 0.5rem;

    .image-container.first-bg {
        background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 34.42%, rgba(0, 0, 0, 0.4) 68.83%, rgba(255, 255, 255, 0.1) 103.25%), url("../img/gdl_1.png");
        background-size: cover;
        background-position: top right;
    }

    .second-bg {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 46%, rgba(0, 0, 0, 0.4471989479) 100%), url("https://images.unsplash.com/photo-1503423571797-2d2bb372094a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80");
        background-position: center center;
    }

    .third-bg {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 46%, rgba(0, 0, 0, 0.4471989479) 100%), url("../img/third_bg.png");
        background-position: center center;
    }

    .fourth-bg {
        flex-direction: column;

        .image-section {
            img {
                width: 100%;
            }

            .black-overlay {
                width: 100%;
            }
        }
    }

    .first-bg .hero-content,
    .second-bg .hero-content,
    .third-bg .hero-content {
        width: 100%;
        text-align: center;
    }

}