$sides-padding: 4rem;

// Colors
$unactive-button-color: #DBDBDB;
$active-button-color: #fff;
$gold-color: #D1AF62;
$dark-gold-color: #BC9D50;

$hero-content-subtitle-color: #DBDBDB;


// Border Radius
$border-radius: 10px;

body {
    font-family: 'Magra', sans-serif;
}

nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem $sides-padding;

    h3 {
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: white;
    }

    a.link {
        text-decoration: none;
        color: $unactive-button-color;
        margin-inline: 1rem;

        &:hover,
        &.active {
            color: $active-button-color;
            text-decoration: underline;
        }

    }
}

main {
    margin-top: -5.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.45) 34.42%, rgba(0, 0, 0, 0.3) 68.83%, rgba(255, 255, 255, 0.1) 103.25%), url("../img/gdl_1.png");
    background-repeat: no-repeat;
    background-size: 100% 125%;
    height: 95vh;
    background-position: top right;

    .hero-content {
        color: white;

        h1,
        h2 {
            font-weight: 400;
            margin: 1rem 0;
        }

        h1 {
            border-bottom: 1px solid $gold-color;
            padding-bottom: 1rem;
            display: inline-block;
            margin-bottom: 0rem;

        }

        h2 {
            margin-bottom: 3rem;
            color: $hero-content-subtitle-color;
        }

        .cta-btn {
            color: white;
            padding: 1rem 2.5rem;
            background-color: $dark-gold-color;
            border-radius: $border-radius;

        }


    }

}




// Media Queries
@media only screen and (max-width: 700px) {

    main {
        background: linear-gradient(115.26deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 34.42%, rgba(0, 0, 0, 0.4) 68.83%, rgba(255, 255, 255, 0.1) 103.25%), url("../img/gdl_1.png");
        background-size: cover;
        background-position: bottom right;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

}